body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4;
}

/* header & nav styles */
header {
    display: flex;
    position:inherit;
    height: 60px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #D49A89;
    align-items: center;
    justify-content: space-between;
    background-color: #557571;
    z-index: 2;
    top: 0;
}

header h1 {
    color: #D49A89;
    margin-left: 30px;
}

.navlinks {
    display: flex;
    height: 69px;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding-right: 20px;
    list-style-type: none;
}

.navlinks a {
    color: #F7D1BA;
    text-decoration: none;

}

.navlinks a:hover {
    text-decoration: underline;
    color: #F4F4F4;
}


/* summary styles */
#summary {
    margin: 2em auto;
    padding: 0 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#summary h2, #meets h2 {
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    display: flex;
}

#summary p {
    font-size: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#testemonial {
    background-color: #F7D1BA;
    height: 64px;
    width: 100%;
    margin: .75rem;
    padding: 1rem;
    display: flex;
}

/* image styles */
.image img {
    height: 350px;
    width: 450px;
    padding: 3px 10px;
    display: flex;
}

.imgage h4 {
    text-align: center;
    padding-top: 3px;

}

.photos {
    display: flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 4em auto;
    align-items: center;
    flex-flow: row;
}

/* meet up styles */
#meets {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}


#meets h2 {
    display: flex;
    flex-flow: column;
    align-items: center;
}


#times {
    list-style-type: square;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-left: 300px;
}

/* Footer styles */
footer {
    display: flex;
    background-color: #557571;
    color: #F4F4F4;
}

footer p {
    margin: 1em 2em;
}

/* media wueries */
@media only screen and (max-width: 1048px) {
    .image img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media only screen and (max-width: 640px) {
    header h1, nav, .navlinks {
      margin-top: 2rem;
    }
  
    #summary {
      max-height: 200px;
    }
  
    .image img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  
    li {
      display: block;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 320px) {
    #testimonial h3 {
      font-size: 2rem;
    }
  
    .image img {
      width: 100%;
    }
  }
  
